<a href="https://colab.research.google.com/github/ferkrum/web-scraper-imdb/blob/main/Web_scraper_IMDB_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Obtendo lista atualizada de lançamentos de filmes do IMDB 

Como obter uma lista atualizada com os últimos lançamentos de filmes do IMDB?

Fizemos um scraping usando a biblioteca Beautiful Soup e criamos um dataframe para visualização e exportação (arquivo CSV) dos resultados ao usuário. 


---
*Version history:
v2: adicionei o campo de data de lançamento ao dataframe italicized text*

In [ ]:
#Importa bibliotecas
import requests
from bs4 import BeautifulSoup

In [ ]:
# parsing
response = requests.get('https://www.imdb.com/calendar/?ref_=nv_mv_cal').content
soup = BeautifulSoup(response, 'html.parser')

In [ ]:
#verifica conteúdo do parser
soup

Abrindo a URL no navegador, inspecionamos o código e identificamos as tags relacionadas ao conteúdo buscado: div id=main

In [ ]:
lancamentos = soup.find("div",id="main")

In [ ]:
#confere conteudo filtrado em lancamentos
lancamentos


```
Notamos que para cada header 4, temos uma lista não numerada <ul>. 
Vamos usar essa estrutura para adicionar a coluna de data ao Data Frame.
```

In [ ]:
#buscando as datas dos lancamentos
datas = lancamentos.find_all("h4")

In [ ]:
#qtdade de datas diferentes 
len(datas)

60

In [ ]:
datas

In [ ]:
#fimes em cada data encontrada 
datasFilmes = lancamentos.find_all("ul")

In [ ]:
#confirma que é a mesma quantidade de datas vista celula anterior 
len(datasFilmes)

60

In [ ]:
#armazena quantidade de filmes
qtdadeFilmes = len(lancamentos.find_all("a"))

In [ ]:
#testando...
datasFilmes[59].find_all("a")

[<a href="/title/tt1462764/?ref_=rlm">Indiana Jones 5</a>,
 <a href="/title/tt7890826/?ref_=rlm">Naya Legend of the Golden Dolphin</a>]

In [ ]:
datas[0].text

'08 July 2022'

In [ ]:
for j in datasFilmes[0].find_all("a"):
  print(j.text)

Thor: Love and Thunder
Murina

In [ ]:
contaDatas = 0
indice = 0
dictLancamentos = {}
for i in datas:                                   #percorre as datas
  for j in datasFilmes[contaDatas].find_all("a"): #percorre todos itens para cada data
    indice += 1
    print (indice, " de ", qtdadeFilmes, end = ' ')
    print (i.text, end = ' ')
    
    response2 = requests.get("https://www.imdb.com"+j["href"]).content  #cria novo request para a url contida em cada elemento "href", ou seja, ira obter o conteúdo de cada página associada a cada novo filme da página
    soup2 = BeautifulSoup(response2, 'html.parser')                     #parser do conteúdo
    print("Dados do filme: ", j.text)
    sinopse = soup2.find("span",class_="sc-16ede01-2 gXUyNh").text      #armazena em sinopse o conteudo obtido em cada pagina
  
    dictLancamentos[indice] = {"nome" : j.text, "data lancamento" : i.text, " url" : "https://www.imdb.com"+j["href"], "sinopse" : sinopse}
  contaDatas+=1
#print(contaDatas)

1  de  100 08 July 2022 Dados do filme:  Thor: Love and Thunder
2  de  100 08 July 2022 Dados do filme:  Murina
3  de  100 13 July 2022 Dados do filme:  The Deer King
4  de  100 15 July 2022 Dados do filme:  Where the Crawdads Sing
5  de  100 15 July 2022 Dados do filme:  Paws of Fury: The Legend of Hank
6  de  100 15 July 2022 Dados do filme:  Mrs Harris Goes to Paris
7  de  100 22 July 2022 Dados do filme:  Nope
8  de  100 22 July 2022 Dados do filme:  How to Please a Woman
9  de  100 22 July 2022 Dados do filme:  Alone Together
10  de  100 22 July 2022 Dados do filme:  My Old School
11  de  100 29 July 2022 Dados do filme:  Thirteen Lives
12  de  100 29 July 2022 Dados do filme:  DC League of Super-Pets
13  de  100 29 July 2022 Dados do filme:  The Reef: Stalked
14  de  100 29 July 2022 Dados do filme:  Vengeance
15  de  100 29 July 2022 Dados do filme:  Resurrection
16  de  100 29 July 2022 Dados do filme:  Ali & Ava
17  de  100 05 August 2022 Dados do filme:  Bullet Train
18  de  100 05 August 2022 Dados do filme:  Bodies Bodies Bodies
19  de  100 05 August 2022 Dados do filme:  Easter Sunday
20  de  100 05 August 2022 Dados do filme:  Secret Headquarters
21  de  100 05 August 2022 Dados do filme:  I Love My Dad
22  de  100 09 August 2022 Dados do filme:  Pil's Adventures
23  de  100 12 August 2022 Dados do filme:  Fall
24  de  100 12 August 2022 Dados do filme:  Mack & Rita
25  de  100 18 August 2022 Dados do filme:  Dragon Ball Super: Super Hero
26  de  100 19 August 2022 Dados do filme:  Beast
27  de  100 19 August 2022 Dados do filme:  The Drover's Wife
28  de  100 26 August 2022 Dados do filme:  The Invitation
29  de  100 26 August 2022 Dados do filme:  Samaritan
30  de  100 28 August 2022 Dados do filme:  Unthinkably Good Things
31  de  100 31 August 2022 Dados do filme:  Barbarian
32  de  100 31 August 2022 Dados do filme:  Three Thousand Years of Longing
33  de  100 02 September 2022 Dados do filme:  Honk for Jesus. Save Your Soul.
34  de  100 07 September 2022 Dados do filme:  After Ever Happy
35  de  100 09 September 2022 Dados do filme:  Salem's Lot
36  de  100 09 September 2022 Dados do filme:  True Things
37  de  100 09 September 2022 Dados do filme:  Dark Harvest
38  de  100 09 September 2022 Dados do filme:  Brahmastra Part One: Shiva
39  de  100 16 September 2022 Dados do filme:  The Woman King
40  de  100 16 September 2022 Dados do filme:  Alphas
41  de  100 23 September 2022 Dados do filme:  Don't Worry Darling
42  de  100 30 September 2022 Dados do filme:  Smile
43  de  100 30 September 2022 Dados do filme:  Bros
44  de  100 30 September 2022 Dados do filme:  Vesper
45  de  100 01 October 2022 Dados do filme:  Syndrome K
46  de  100 07 October 2022 Dados do filme:  Lyle, Lyle, Crocodile
47  de  100 07 October 2022 Dados do filme:  Till
48  de  100 14 October 2022 Dados do filme:  Halloween Ends
49  de  100 14 October 2022 Dados do filme:  Decision to Leave
50  de  100 14 October 2022 Dados do filme:  White Bird: A Wonder Story
51  de  100 15 October 2022 Dados do filme:  MK Ultra
52  de  100 21 October 2022 Dados do filme:  Ticket to Paradise
53  de  100 21 October 2022 Dados do filme:  Black Adam
54  de  100 21 October 2022 Dados do filme:  The Banshees of Inisherin
55  de  100 28 October 2022 Dados do filme:  Devotion
56  de  100 28 October 2022 Dados do filme:  The Devil's Light
57  de  100 02 November 2022 Dados do filme:  The Monkey King: The Legend Begins
58  de  100 04 November 2022 Dados do filme:  Amsterdam
59  de  100 04 November 2022 Dados do filme:  A Christmas Story Christmas
60  de  100 04 November 2022 Dados do filme:  Eye See You
61  de  100 11 November 2022 Dados do filme:  Black Panther: Wakanda Forever
62  de  100 18 November 2022 Dados do filme:  The Menu
63  de  100 18 November 2022 Dados do filme:  She Said
64  de  100 23 November 2022 Dados do filme:  The Fabelmans
65  de  100 23 November 2022 Dados do filme:  Strange World
66  de  100 23 November 2022 Dados do filme:  Creed III
67  de  100 02 December 2022 Dados do filme:  Violent Night
68  de  100 15 December 2022 Dados do filme:  Bitch Ass
69  de  100 16 December 2022 Dados do filme:  Avatar: The Way of Water
70  de  100 21 December 2022 Dados do filme:  Shazam! Fury of the Gods
71  de  100 21 December 2022 Dados do filme:  Puss in Boots: The Last Wish
72  de  100 22 December 2022 Dados do filme:  Scoob!: Holiday Haunt
73  de  100 25 December 2022 Dados do filme:  A Man Called Otto
74  de  100 06 January 2023 Dados do filme:  Babylon
75  de  100 13 January 2023 Dados do filme:  Kraven the Hunter
76  de  100 13 January 2023 Dados do filme:  M3GAN
77  de  100 27 January 2023 Dados do filme:  Last Voyage of the Demeter
78  de  100 03 February 2023 Dados do filme:  Knock at the Cabin
79  de  100 10 February 2023 Dados do filme:  It’s All Coming Back to Me
80  de  100 17 February 2023 Dados do filme:  Ant-Man and the Wasp: Quantumania
81  de  100 24 February 2023 Dados do filme:  Cocaine Bear
82  de  100 03 March 2023 Dados do filme:  Dungeons & Dragons
83  de  100 10 March 2023 Dados do filme:  Haunted Mansion
84  de  100 17 March 2023 Dados do filme:  Aquaman and the Lost Kingdom
85  de  100 24 March 2023 Dados do filme:  John Wick: Chapter 4
86  de  100 31 March 2023 Dados do filme:  Scream 6
87  de  100 07 April 2023 Dados do filme:  Untitled Illumination Entertainment Super Mario Project
88  de  100 14 April 2023 Dados do filme:  Renfield
89  de  100 14 April 2023 Dados do filme:  65
90  de  100 28 April 2023 Dados do filme:  Are You There God? It's Me, Margaret
91  de  100 30 April 2023 Dados do filme:  The Ark and the Aardvark
92  de  100 05 May 2023 Dados do filme:  Guardians of the Galaxy Vol. 3
93  de  100 19 May 2023 Dados do filme:  Fast X
94  de  100 26 May 2023 Dados do filme:  The Little Mermaid
95  de  100 02 June 2023 Dados do filme:  Spider-Man: Across the Spider-Verse
96  de  100 09 June 2023 Dados do filme:  Transformers: Rise of the Beasts
97  de  100 16 June 2023 Dados do filme:  Elemental
98  de  100 23 June 2023 Dados do filme:  The Flash
99  de  100 30 June 2023 Dados do filme:  Indiana Jones 5
100  de  100 30 June 2023 Dados do filme:  Naya Legend of the Golden Dolphin

In [ ]:
import pandas as pd

In [ ]:
dfFilmes = pd.DataFrame.from_dict(dictLancamentos).T

In [ ]:
#exporta para CSV
pd.DataFrame.from_dict(dictLancamentos).T.to_csv('lancamentos.csv')

In [ ]:
dfFilmes

,nome,data lancamento,url,sinopse
1,Thor: Love and Thunder,08 July 2022,https://www.imdb.com/title/tt10648342/?ref_=rlm,"Thor enlists the help of Valkyrie, Korg and ex..."
2,Murina,08 July 2022,https://www.imdb.com/title/tt8434110/?ref_=rlm,A teenage girl decides to replace her controll...
3,The Deer King,13 July 2022,https://www.imdb.com/title/tt11417856/?ref_=rlm,The last survivor of a band of warriors is ens...
4,Where the Crawdads Sing,15 July 2022,https://www.imdb.com/title/tt9411972/?ref_=rlm,A woman who raised herself in the marshes of t...
5,Paws of Fury: The Legend of Hank,15 July 2022,https://www.imdb.com/title/tt4428398/?ref_=rlm,"Hank, a loveable dog with a head full of dream..."
...,...,...,...,...
96,Transformers: Rise of the Beasts,09 June 2023,https://www.imdb.com/title/tt5090568/?ref_=rlm,Plot unknown. Reportedly based on the 'Transfo...
97,Elemental,16 June 2023,https://www.imdb.com/title/tt15789038/?ref_=rlm,"Follows Ember and Wade, in a city where fire-,..."
98,The Flash,23 June 2023,https://www.imdb.com/title/tt0439572/?ref_=rlm,The plot is unknown. Feature film based on the...
99,Indiana Jones 5,30 June 2023,https://www.imdb.com/title/tt1462764/?ref_=rlm,The plot is unknown at this time.
100,Naya Legend of the Golden Dolphin,30 June 2023,https://www.imdb.com/title/tt7890826/?ref_=rlm,This is an action film following the adventure...